OGMS_TOKEN=
OGMS_BASE_PORTAL_URL=http://222.192.7.75
OGMS_BASE_MANAGER_URL=http://222.192.7.75/managerServer
OGMS_BASE_DATA_URL=http://222.192.7.75/dataTransferServer
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
DIFY_API_KEY=
DIFY_BASE_URL=https://api.dify.ai/v1
